--extra-index-url https://test.pypi.org/simple/
--prerelease=allow

requests~=2.32.3
streamlit~=1.35.0
streamlit-tree-select
mysql-connector-python
SPARQLWrapper
pandas~=2.2.2
chardet~=5.2.0
soilpulse>0.0.4
